* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Victor Mono', monospace;
    background-color: rgb(37, 209, 170);
    color: honeydew;
}

.etch-container {
    border: 1px solid black;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    flex-shrink: 0;
}

.item-line {
    flex: 1 1 auto;
    display: flex;
}

.item {
    flex: 1 1 auto;
    border: solid 1px black;
}

.title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.container {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 24px;
    margin-right: 15%;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 16px;
    background-color: rgb(182, 239, 241);
    padding: 16px;
    border-radius: 16px;
    border: solid 2px black;
    color: rgb(17, 92, 246);
    font-weight: 500;
    flex-shrink: 0;
}

.clear {
    align-self: center;
    padding: 8px 16px;
    background-color: rgb(17, 92, 246);
    color: honeydew;
    border-radius: 8px;
}

.clear:hover {
    cursor: pointer;
    background-color: aqua;
    color: black;
}